/*  -- GERAL  -- */
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}


/*  -- HEADER  MENU -- */
.header{
    background-color: var(--claro1);
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.menu-logo img {
    max-height: 50px;
    margin: 0 10px;
}

.menu-nav {
    display: flex;
    flex: 1;
}

.menu-nav input{
    display: none;
}

.menu-nav ul{
    display: flex;
    align-items: center;
}


.menu-nav ul li a{
    text-transform: uppercase;
    font-size: 1.10em;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;

    color: #666;
}

.btn-padrao{
    background-color: var(--claro3);
    padding: 10px 20px;
    border-radius: 50px;
}

.menu-nav ul li a:hover{
    font-weight: 700;
    color: #fff;
}

/* menu hamburguer - começando pela configuração da linha do meio*/
.header .menu {
    display: none;
    width: 60px;
    height: 60px;

    align-self: flex-end;  /* deixar o menu sempre à direita*/
}

.header nav label{
    display: flex;
    flex-direction: column; /*mostrar o nav abaixo do menu hamburguer*/
}

.header input {
    display: none;
    /* apaga o checkbox do input*/
}

.header .hamburguer {
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.2s ease-in-out;
}



/*linhas de cima e de baixo do menu hamburguer*/
.header .hamburguer:before {
    top: -10px; /* sobre -10px em relação a onde ele está*/
}

.header .hamburguer:after {
    bottom: -10px; /* desce -10px em relação a onde ele está*/
}

.header .hamburguer:before,
.header .hamburguer:after {
    background-color: #000;
    position: relative;
    content: "";
    display: block;
    width: 100%; /* vai estar sempre a 100% da largura e altura do menu*/
    height: 100%;
    transition: 0.2s ease-in-out;
}

/*--- menu hamburguer clicado  - quando clicar no hamburguer, o hamburguer vira um X*/

.header input:checked~label .hamburguer{
    transform: rotate(45deg);
}

.header input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.header input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}


.sticky {
  position: absolute;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.3s;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar {
  padding: 20px 0;
}

@media (max-width: 1200px){
    
    .menu-nav ul{
        display: none;  //ocultar o menu-nav
    }

    .menu-nav .menu {
        display: block;
    }
    /* --- quando o hamburguer for clicado, a lista ul volta a aparecer(os ítens do menu) */
    .menu-nav  input:checked ~ul{
        display: block;
    }

    .menu-nav {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1; /*o nav vai aparecer por cima de todo o conteúdo da página*/
    }

    /*"quadradinho branco dos itens do menu*/
    .menu-nav ul{ 
        width: 200px;
        margin: 15px 0;
        padding: 20px;
        background-color: #fff;
    }

    .menu-nav ul a{
        display: block; /*para as alterações aparecerem*/
        text-align: center;
        padding: 20px;
    }
    .menu-nav ul li a:hover{
        font-weight: 700;
        background-color: var(--claro1);
    }
}

/* @media(max-width: 560px){
    .header {
        padding: 10px;
    }
    .menu-logo img {
        max-height: 35px;
        margin: 5px;
    }
    .menu {
align-self: flex-end;    }
} */
/* --- menu hamburguer vai aparecer só quando a tela for no máimo 900px*/

/*  -- MAIN - INTRO  -- */
.capa{
    background: url(../imagens/01.Alpha.png) center center no-repeat;
    background-size: cover;
    width: 100vw;
	padding: 150px 0;
	text-align: center;
	color: #fff;
    display: flex;
    justify-content: center;
}

.capa h1 {
	text-transform: uppercase;
	font-size: 2em;
}

.capa-container{
    max-width: 600px;
}

.capa h1::after {
	content: '';
	display: block;
	width: 20px;
	height: 4px;
	background: #fff;
	margin: 10px auto;
}
.capa p {
	font-style: italic;
	font-size: 1.125em;
}

/*  -- MAIN - SOBRE  -- */


.conteudo-container {
	max-width: 960px;
	margin: 0 auto;
}

.intro {
    border-bottom: 2px solid var(--claro1);
    padding: 30px 10px;
    max-width: 960px;
    margin: 30px auto;
}

.sobre {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 400px;
}

.sobre-info h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.sobre-info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}
.sobre-img {
	width: 460px;
    height: 350px;
    padding: 30px ;
    margin: 0 auto;
    flex: 1 1 300px;
    text-align: center;
}

.sobre-img img {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}
button{
    text-decoration: none;
}
.sobre a button{
	border: none;
    background-color: var(--claro1);
	text-decoration: none;
	margin: 20px auto;
	font-size: 1.125em;
	font-weight: 500;
	text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.222);
	padding: 10px 30px;
    color: var(--cinza2);
    cursor: pointer;
}

.sobre a button:hover {
    background-color: var(--escuro1);
    color: #fff;
}


/*  -- MAIN - SECAO  -- */

.secao {
    text-align: center;
    padding-top: 30px;
    margin: 30px auto;
    max-width: 600px;
}

.secao h3{
    font-size: 2em;
    margin-bottom: .5em;
}

.secao p{
    font-size: 1.25em;
    margin-bottom: .5em;
    color: var(--cinza1);
    line-height: 1.4;
}

/*  -- MAIN - PROJETOS  -- */
.projetos-container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex: 1 1 100px;
    margin: 0 auto;
}

.projeto-card {
    margin: 10px;
    
}

.imagem-projeto {
    max-width: 220px;
}




/*  -- MAIN - SERVIÇOS  -- */

.servicos{
    background-color: var(--claro3);
    padding: 0 0 30px;
    text-align: center;
    line-height: 1.4;

}
.servicos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
}

.servico-card{
    margin: 5px;
    flex: 1 1 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.servico-card:hover{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.122);
}


.servicos h4{
    font-size: 1.25em;
    margin-bottom: .5em;
    text-align: left;
}

.servicos p{
    font-size: 1em;
    margin-bottom: .5em;
    color: var(--cinza1);
    text-align: left;

}


.servicos button{
    width: 100%;
    max-height: 25px;
	border: none;
    background-color: var(--claro3);
	text-decoration: none;
	margin-top: 20px;
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
    border-radius: 10px;
	padding: 5px;
    color: var(--cinza2);
    cursor: pointer;
}

.servicos button:hover {
    background-color: var(--claro1);
	font-weight: 700;
}

.servicos .btn-padrao{
    width: 100%;
    max-width: 300px;
    max-height: 25px;
	border: none;
    background-color: var(--claro3);
	text-decoration: none;
	margin-top: 20px;
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
    border-radius: 10px;
	padding: 5px;
    color: var(--cinza2);
    cursor: pointer;
}

.servicos button:hover {
    background-color: var(--claro1);
	font-weight: 700;
}


/*  -- MAIN - ORÇAMENTO  -- */


/*  -- FOOTER  -- */
.footer{
    display: flex;
    margin: 60px auto;
    max-width: 960px;
    justify-content: space-between;
    align-items: center;
    color: var(--cinza1);
}

.footer p{

}


@media(max-width: 960px){
    .sobre-info, .secao, .footer, .contato{
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        text-align: center;
        margin: 0 auto;
    }

    
    .servicos h4{
        font-size: 1.25em;
        margin-bottom: .5em;
        text-align: center;
    }
    
    .servicos p{
        font-size: 1em;
        margin-bottom: .5em;
        color: var(--cinza1);
        text-align: center;
    
    }
    .servicos .btn-padrao{
        width: 100%;
    }
    
}