:root{
    --max-width-size: 1920px;
    --escuro1: #55736D;
    --claro1: #C5D9D9;
    --escuro2: #A6523F;
    --claro2: #D99D8F;
    --claro3: #F2F2F2;
    --cinza1: #889099;
    --cinza2: #61605F;
}